@model List<MyApp1.Models.Items>

@{
    // di solito qui si specifica il titolo della pagina, "Title" è una key
    ViewData["Title"] = "Index";
}

<h3>StockKeeper</h3>

<table class="table">
    <thead>
        <!--tr: riga, th: table header-->
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Serial Number</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <!--Il loop avviene attraverso il model importato in alto alla pagina, ovvero Items-->
        @foreach(var item in Model)
        {
            <tr>
                <!--td sta per table data-->
                <td>@item.Name</td>
                <td>@item.Price.ToString("N2") $</td>
                <!--funziona grazie a Include(s => s.SerNumber) in ItemsController, buona pratica-->
                <!-- con ? prova ad accedere a SerNumber, solo se non è null, se invece è null, non lancia eccezione e restituisce null-->
                <td>@item.SerNumber?.Name</td>  <!--aggiunta del punto di domanda perchè può essere null-->
                <th>@item.Category?.Name</th>
                <td>
                    <!--asp-action è un helper (permette di sviluppare task), questo in particolare permetterà di dirigere il link all'action edit-->
                    <!--ridirige alla pagina edit con l'id specificato in asp-route-id -->
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <!--stessa funzione di prima ma verso l'action delete-->
                    <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>


<a asp-action="Create" class="btn btn-primary">New Item</a>
